:root {
  --main-bg-color: rgb(36, 36, 36);
  --main-txt-color: purple;
  --alt-txt-color: rgb(31, 172, 31);
}

@font-face {
  font-family: starcraftFont;
  src: url(resources/font/StarcraftNormal.ttf);
}

body { 
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
  background-color: var(--main-bg-color);
  color: var(--alt-txt-color);
}

header{ min-height: 8vh; 
  font-family: starcraftFont; 
  background-color: var(--main-bg-color); 
  color: var(--main-txt-color);
} 
main{
  flex-grow: 1;
  background-image: url("resources/images/creep.jpg");
}

footer{ 
  min-height: 8vh;
  background-color: var(--main-bg-color);
}

.pointerHover
{
  cursor: pointer;
}

.unitList
{
  display: flex;
  justify-content: center;
}

.bg-black
{
  background-color: var(--main-bg-color);
}

.myButton {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

.healthBar
{
  border-color: rgb(136, 0, 0);
  border-style: solid;
  border-width: 2px;
  height:20px;
}

.healthPercent
{
  margin: 0px;
  background-color: red;
  height: 16px;
  /* width: % for health*/

}